<h1>{{title}}</h1>

<div class="row">
    <select class="form-control"
            (change)="fetchPostsByUser({ userId: $event.target.value })">
        <option value="">
                Select a User...
        </option>    
        <option *ngFor="let user of users" 
                value="{{user.id}}">
                {{user.name}}
        </option>
    </select>
    <br />
</div>

<pagination [items]="posts"
            [page-size]="10"
            (page-changed)="onPageChanged($event)">
</pagination>

<div class="row">
    <div class="col-md-6">
        <spinner [isVisible]="arePostsLoading"></spinner>
        <ul class="list-group posts">
            <li class="list-group-item"
                *ngFor="let post of posts"
                (click)="postSelected(post)"
                [ngClass]="{'active': selectedPost && post.id === selectedPost.id}">
                {{post.title}}
            </li>
        </ul>
    </div>

    <div class="col-md-6"
         *ngIf="selectedPost">
        <div class="panel panel-default">
             <div class="panel-heading">
                <h3 class="panel-title">{{selectedPost.title}}</h3>
             </div>
             <div class="panel-body">
                {{selectedPost.body}}
             </div>
        </div>

        <div>
            <spinner [isVisible]="areCommentsLoading"></spinner>
            <div class="media"
                 *ngFor="let comment of selectedPost.comments">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object avatar" src="http://lorempixel.com/80/80/people/?random={{comment.id}}" alt="comment.email">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{comment.name}}</h4>
                    <p>{{comment.body}}</p>
                </div>
            </div>
        </div>
    </div>
</div>