<h2>{{ title }}</h2>

<a class="btn btn-primary" 
   routerLink="/users/add">Add User</a>

<br />

<spinner [isVisible]="areUsersLoading"></spinner>

<table class="table table-bordered"
       *ngIf="!areUsersLoading">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><i class="glyphicon glyphicon-edit green" [routerLink]="[user.id]"></i></td>
        <td><i class="glyphicon glyphicon-remove pointer" (click)="deleteConfirmation(user.id)"></i></td>
    </tr>
</table>